<ion-content>
  <ion-grid >
    <ion-row >
      <ion-col class="borderGray center" size="6">Logo</ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="main left" size="10">
        Maintain and Improve your relationships
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="sub left" size="8">
        Take control of your relationships
      </ion-col>
      <ion-col size="4">
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="2"></ion-col>
      <ion-col class="getStarted center borderGray"> Get Started </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
